stages:
  - test
  - deploy

test_job:
  stage: test
  image: python:3.12
  before_script:
    - pip install hatch coverage
    - hatch env create
    - export PYTHONPATH=$(pwd)  # Assurer que la racine est ajoutée au PYTHONPATH pour garantir l'accès aux modules
  script:
    - python -c "import my_arithmetic_"  # Forcer l'importation
    - coverage run --source=my_arithmetic_ -m unittest discover -s tests -t .
    - coverage report
    - coverage xml
  coverage: '/TOTAL.+?(\d+\%)$/'
  artifacts:
    paths:
      - coverage.xml
      - htmlcov/
  only:
    - main

deploy_on_tag:
  stage: deploy
  image: python:3.12
  before_script:
    - pip install hatch hatch-vcs
  script:
    - echo "my-arithmetic-ihadji deployment on stable servers"
    - hatch build
    - ls dist/
  only:
    - tags

deploy_on_main:
  stage: deploy
  image: python:3.12
  before_script:
    - pip install hatch hatch-vcs
  script:
    - echo "my-arithmetic-ihadji deployment on stable servers"
    - hatch build
    - ls dist/
  only:
    - main

deploy_on_develop:
  stage: deploy
  image: python:3.12
  before_script:
    - pip install hatch hatch-vcs
  script:
    - echo "my-arithmetic-ihadji deployment on develop servers"
    - hatch build
    - ls dist/
  only:
    - develop
